.tform{
    font-size: 25px;
}

h1{
    font-family: var;
    color:black;
}

li{
    width:20%;
    margin: auto;
}
html{
    text-align: center;
    background-color: grey;
    ;
    background-repeat: no-repeat;
    
      
}

body{
    background-color: darkgray;
    width:70%;
    margin-left:auto; 
    margin-right:auto;
    border: 20px;
    border-color: black;
    background-image: url("image/url2.jpg");
    
       
}
a{
    background-color:darkgrey;
    font-size: 20px;
    color:darkgrey;
}
a:hover{
    color:greenyellow;
}