<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--  <link rel="stylesheet" href="/templates/pages/page-reservation/style_cven.css"> -->
<link rel="stylesheet" href="/templates/pages/page-reservation/style.css">
<!DOCTYPE html>

<head>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/template/pages/page-reservation/accueil.html">Jura</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/templates/pages/page-reservation/accueil.html">Accueil<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/templates/pages/page-reservation/form_reservation.html">Reservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/templates/pages/page-reservation/page-d'authentification.html">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/templates/pages/page-reservation/page-d'inscription.html">Inscription</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
  <br>
  <div class="container my-4">
    <div class="container">
      <h2>Bienvenue dans le site du Jura</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="images-res/juraaaaa.jpg" alt="Los Angeles" style="width:100%;">
          </div>

          <div class="item">
            <img src="images-res/bandeau-jura.jpg" alt="Chicago" style="width:100%;">
          </div>

          <div class="item">
            <img src="images-res/juraaa2.jpg" alt="New york" style="width:100%; height:70%;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <p> Le Jura, 4 destinations en 1
      Le Jura, en Bourgogne-Franche-Comté, est une destination touristique 4 saisons à la fois unique et multiple. Elle
      offre une diversité de paysages, d'ambiances et de cultures qui en font une destination riche, pleine de
      ressources et de découvertes inattendues.

      D'Ouest en Est, des espaces variés s'étagent successivement, tel un escalier, de la plaine doloise et bressane aux
      Montagnes du Jura, en passant par le vignoble, le Pays des Lacs et la Petite Montagne. Tantôt ville, tantôt
      campagne, reculées secrètes ou grands sites, vous saurez y trouver les vacances qui vous ressemblent !</p>


</body>

</html>